body{
    width:100vw;
    height: 100vh;
background-color: beige;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #231709;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    

}

.scores{
   grid-area: 2 / 2 / 3 / 3;
    background-image: url("wood.jpg");
    background-size: cover;
    width:100%;
    height:100%;
    padding: 15px;

    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2),
    inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3),
    inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
}
a {text-decoration: none}
.button {
    margin-top: 20px;
    padding: 10px;
    position: relative;
    border: none;
    display: inline-block;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2),
    inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3),
    inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    background-color: blanchedalmond;
    color: #231709;


}
.button:hover{
    transform: scale(110%);
}
.button:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -4px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    top: 3px;
}

.button div {
    padding: 10px 30px 12px 30px;
    color: #231709;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
}

.button:active div {
    padding-bottom: 12px;
}
